@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
	name: 'cupcake';
	default: true;

	--font-sans: 'Host Grotesk', sans-serif;
}
